<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<style>
    /*body {*/
        /*background: url(/images/summer.jpg);*/
        /*background-size: cover;*/
        /*-webkit-background-size: cover;*/
        /*-o-background-size: cover;*/
        /*background-position: center 0;*/
        /*position: fixed;*/
        /*top: 0;*/
        /*left: 0;*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*min-width: 1000px;*/
        /*z-index: -10;*/
        /*zoom: 1;*/
    /*}*/


</style>
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='记账管理'">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->
    <div class="layui-body">
        <!--<div class="layui-container">-->
            <!--<div class="layui-row">-->
                <!--<div class="layui-col-xs9">-->
                    <!--&nbsp;-->
                    <!--<h1 style="padding-top:50px;line-height:2.0;color: white">-->
                        <!--<shiro:principal property="name"></shiro:principal>-->
                        <!--，欢迎登录-->
                        <!--<span style="font-weight: bold;font-size:30px;">后台管理系统</span></a></h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<iframe id="mainContent" src="index.html" width="100%" height="100%"></iframe>-->
        <iframe width="100%" scrolling="no" height="100%" frameborder="0" allowtransparency="true" src="https://i.tianqi.com?c=code&id=12&icon=1&num=5&site=12"></iframe>
    </div>



    <script type="text/javascript" src="/js/error.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>
</html>