<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='后台管理'">
</head>
<style>
    body {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    span {
        color: white;
    }

    #useLogin {
        color: white;
    }

    button {
        width: 278px;
    }
</style>
<body background="images\bg2.jpg">
<div class="layui-container" style="height: 100%">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 6%">
        <legend style="margin-left: 40%"><span style="font-weight: bold;font-size:22px;">后台管理系统</span></legend>
    </fieldset>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo grid-demo-bg1">
                &nbsp;
            </div>
        </div>
        <div class="layui-col-xs12">
            <div class="grid-demo">
                <form id="useLogin" class="layui-form" action="">
                    <div class="layui-form-item layui-col-md-offset3">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-col-xs4 ">
                            <input id="username" name="name" lay-verify="required" autocomplete="off"
                                   class="layui-input" type="tel" th:value="*{'admin'}"/>
                        </div>
                    </div>
                    <div class="layui-form-item layui-col-md-offset3">
                        <label class="layui-form-label">密&nbsp;&nbsp;码</label>
                        <div class="layui-col-xs4 ">
                            <input id="password" name="pwd" lay-verify="required" autocomplete="off"
                                   class="layui-input" type="password" th:value="admin"/>
                        </div>
                    </div>
                    <!--<div class="layui-form-item" style="margin-top: -20px;">-->
                    <!--<label class="layui-form-label"></label>-->
                    <!--<div class="layui-inline">-->
                    <!--<input type="checkbox" name="rememberMe" lay-skin="primary"  title="记住我"/>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="layui-form-item layui-col-md-offset3">
                        <div class="layui-input-block">
                            <!--<button class="layui-btn" type="reset">重置</button>-->
                            <button id="loginBtn" class="layui-btn layui-btn-radius layui-btn-normal"
                                    lay-submit="" lay-filter="login">登录
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/login.js"></script>
<!--引入看板娘-->
<script type="text/javascript" src="/js/live2d/L2Dwidget.0.min.js"></script>
<script type="text/javascript"  src="/js/live2d/L2Dwidget.min.js"></script>
<script type="text/javascript">
    L2Dwidget.init({"display": {
            "superSample": 2,
            "width": 200,
            "height": 400,
            "position": "right",
            "hOffset": 0,
            "vOffset": 0
        }
    });
</script>
</body>
</html>