<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookkeeping.mapper.StandingMapper">

     <!-- 通用查询映射结果 -->
     <resultMap id="BaseResultMap" type="com.bookkeeping.entity.StandingModel">
           <id column="id" property="id" />
           <result column="real_in" property="realIn" />
           <result column="real_out" property="realOut" />
           <result column="total" property="total" />
           <result column="bill_time" property="billTime" />
           <result column="remark" property="remark" />
           <result column="is_deleted" property="isDeleted" />
           <result column="create_time" property="createTime" />
           <result column="create_by" property="createBy" />
           <result column="update_time" property="updateTime" />
           <result column="update_by" property="updateBy" />
     </resultMap>
    
    <select id="selectDate" resultType="java.util.Map">
        SELECT
	         t.monthNo AS MONTH,
	         COUNT(1) AS number
        FROM
            (
                SELECT
                    MONTH (a.bill_time) AS monthNo,
                    YEAR (a.`bill_time`) AS myYear
                FROM
                    t_standing a
            ) AS t
        WHERE
            t.myYear = #{year}
        GROUP BY
            t.monthNo
    </select>

</mapper>
